extends layout
block content
	.mainContainer
		h1(align='center') LOGIN 
		form.loginContainer
			| Enter Username
			input(type='text', placeholder='Enter Username')
			br
			| Enter Password	
			input(type='text', placeholder='Enter Username')
			.spacer
			input.login-btn(type='submit', value='Login')
			p.lowerPartOfLogin
				| Don't have an account yet ? Register 
				a(href='/reg')
					|Here !