extends layout
block content
	h1(align='center') LOGIN 
	form.containers
		| Enter Username
		input(type='text', placeholder='Enter Username')
		br
		| Enter Password	
		input(type='text', placeholder='Enter Username')
	.spacer
	| Don't have an account yet ? Register Here !
